# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
.classpath
.gitignore
.idea/.gitignore
.idea/artifacts/
.idea/codeStyles/
.idea/compiler.xml
.idea/description.html
.idea/dictionaries/
.idea/encodings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/vcs.xml
